body{
 /* background-color: #F2F2F2;*/
 background-color: green;
}

#container{
  width:686px;
  height: auto;
  margin: auto;
  font-size: 13px;

  background-color:#ffffff;
}

#label{
  margin: auto;
  margin-top: 100px;
  padding-top: 35px;
  padding-bottom: 35px;
  text-align: center;
  font-size: xx-large;
  font-family: 'Open Sans', sans-serif;

}

#form{
	padding-left: 50px;
}
#list{
	padding-left: 50px;
}

#post{
	margin-top: 7px;
    padding-bottom: 45px;
}
